replicaCount: 1
image:
  name: consensys/maru:0ad2e75
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  ports:
    - name: api
      port: 8080
    - name: p2p
      port: 3322
    - name: discovery
      port: 3323
    - name: metrics
      port: 9545
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass: ""
configFiles:
  privateKey: |
  configsDefaultsToml: |
    allow-empty-blocks = true

    [persistence]
    data-path="/opt/consensys/maru/data/db"
    private-key-path="/opt/consensys/maru/configs/private-key.txt"

    [p2p]
    port = 3322
    ip-address = "0.0.0.0"

    [observability]
    port = 9545

    [api]
    port = 8080
  configsToml: |
  genesisJson: |
      {
      "chainId": 59239,
      "config": {
        "0": {
          "type": "delegated",
          "blockTimeSeconds": 1
        },
        "1752596435": {
          "type": "qbft",
          "validatorSet": ["0x1b9abeec3215d8ade8a33607f2cf0f4f60e5f0d0"],
          "blockTimeSeconds": 7,
          "elFork": "Prague"
        }
      }
    }
  log4j: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO" monitorInterval="2">
    <Appenders>
      <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZZZ} | %t | %-5level | %c{1} | %msg %throwable%n" />
      </Console>
    </Appenders>
    <Loggers>
      <Logger name="clients" level="DEBUG"/>
      <Root level="INFO">
        <AppenderRef ref="Console"/>
      </Root>
    </Loggers>
    </Configuration>
